**/dist
**/tmp
**/out-tsc
**/node_modules
**/.idea
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
**/.sass-cache
**/connect.lock
**/coverage
**/typings
**/.DS_Store
**/Thumbs.db
**/.nx/cache
**/.angular
**/.direnv
**/.env
**/.moon/cache
**/.moon/hooks
**/.moon/docker
**/pg_install
**/.neon
**/target
**/.env
**/.~lock.**.odp#
**/*.aux
**/*.bbl
**/*.blg
**/*.idx
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.nlo
**/*.out
**/*.synctex.gz
**/*.toc
**/*.fdb_latexmk
**/*.fls
**/*.ind
**/*.ilg
**/*.exe
**/*.pdf
**/result
